
<ion-content>

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Fiók</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="subjects">
      <ion-icon name="layers-outline"></ion-icon>
      <ion-label>Tantárgyak</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="calendar">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Naptár</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="calculator">
      <ion-icon name="calculator-outline"></ion-icon>
      <ion-label>Átlagok</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gyik">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>GYIK</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  <!-- <a href="https://storyset.com/mobile">Mobile illustrations by Storyset</a> -->
</ion-tabs>
