.logo{
    --background: none;
    --color: black;
    --box-shadow: 0;
    font-size:36px;
    --color-activated: none;
    --background-activated:none;
    --background-focused:none;
    --background-hover:none;
}

.logo-span-app{
    color:#4b45bd;
    font-style: bold;
}