<app-overview-header [linkable]="false"></app-overview-header>


<ion-content>
   <div class="container">
    <br />
        <ion-grid class="ion-text-center">
            <ion-row class="ion-align-items-center">
                <ion-col size="3"> <strong>Összesen felvett kredit</strong></ion-col>
                <ion-col size="3"> <strong>Súlyozott tanulmányi átlag</strong></ion-col>
                <ion-col size="3"><strong>Kreditindex</strong></ion-col>
                <ion-col size="3"><strong>Korrigált kreditindex</strong></ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
                <ion-col size="3" *ngIf="credit != 0">{{credit}}</ion-col>
                <ion-col size="3" *ngIf="gpa != 0"> {{gpa}}</ion-col>
                <ion-col size="3" *ngIf="creditIndex != 0">{{creditIndex}}</ion-col>
                <ion-col size="3" *ngIf="corrCreditIndex != 0">{{corrCreditIndex}}</ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid class="ion-text-center">
            <ion-row class="ion-align-items-center">
                <ion-col><strong>Név</strong></ion-col>
                <ion-col><strong>Kredit</strong></ion-col>
                <ion-col><strong>Jegy</strong></ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center" *ngFor="let nameCreditMark of nameCreditMarks">
                <ion-col>{{nameCreditMark.name }}</ion-col>
                <ion-col>{{nameCreditMark.credit }}</ion-col>
                <ion-col>{{nameCreditMark.mark }}</ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>

