<ion-header class="ion-no-border ion-no-margin">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Vissza"></ion-back-button>
    </ion-buttons>
    <app-logo></app-logo>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

  <form [formGroup]="registerForm" class="ion-margin">
    <ion-list>
    <ion-item lines="full">
      <ion-label position="stacked">Vezetéknév</ion-label>
      <ion-input formControlName="lastName" type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="stacked">Keresztnév</ion-label>
      <ion-input formControlName="firstName" type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>

    <ion-grid>
      <ion-row>
      <ion-note color="danger" style="font-size: 10px;" *ngIf="this.registerForm.get('email').invalid && registerForm.controls['email']?.touched"> Az email a következő formát kell kövesse: sztepp@info.com </ion-note>
      </ion-row>
    </ion-grid>
      
    <ion-item>
      <ion-label position="stacked">Jelszó <ion-badge>{{getPasswordLength()}}</ion-badge></ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-note [ngClass]="{'success': getPasswordLength() >= 6, 'error': getPasswordLength() < 6}">legalább 6 karakter</ion-note>
      </ion-row>
      <ion-row>
        <ion-note [ngClass]="{'success': ifHasUpperAndLowerCase(), 'error': ifHasUpperAndLowerCase() == false}">kis és nagy betű</ion-note>
      </ion-row>
      <ion-row>
        <ion-note  [ngClass]="{'success': ifContainsNumber(), 'error': ifContainsNumber() == false}" >szám</ion-note>
      </ion-row>
    </ion-grid>
    <ion-button (click)="signUp()" [disabled]="registerForm.invalid" style="--background:#4b45bd" expand="block">Regisztráció</ion-button>
    </ion-list>
  </form>
</div>
</ion-content>