<app-overview-header></app-overview-header>

<ion-content>
  <div class="container">
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>{{getUser()}}</ion-label>
    </ion-item>
    <ion-card class="ion-margin">
      <ion-card-title class="ion-padding">Egy rövid bemutatkozó</ion-card-title>
      <ion-card-content>
        Ez az alkalmazás azoknak a hallgatóknak jött létre, akik szeretnék rendszerezni az egyetemi életük.
<br/>
Egy tökéletes kezdés lehet a tantárgyak hozzáadása. Amikor hozzáadsz egy tantárgyat a gyűjteményedhez, meg kell adnod, hogy mikor van az az óra és ezzel egyszerre létre jön egy esemény is a naptárban.
      </ion-card-content>
    </ion-card>
  <ion-grid class="ion-margin">
    <ion-row class="ion-align-items-center"><strong>Beiratkozási időszak: </strong> {{this.beiratkozas}}</ion-row>
    <br/> 
    <ion-row class="ion-align-items-center"><strong>Szorgalmi időszak: </strong> {{this.szorgalmi}}</ion-row>
    <br/> 
    <ion-row class="ion-align-items-center"><strong>Vizsgaidőszak: </strong> {{this.vizsga}}</ion-row>
    <br/> 
    <ion-row> <strong>Utóvizsga-hét: </strong> {{this.utovizsga}}</ion-row>
  </ion-grid>
</div>

</ion-content>
